
	<style type="text/css">
		@page { size: 8.5in 11in; margin: 0.98in }
		p { margin-bottom: 0.1in; direction: ltr; line-height: 120%; text-align: left; widows: 2; orphans: 2 }
		p.western { font-family: "Times New Roman", serif; font-size: 10pt; so-language: nl-NL }
		p.cjk { font-family: "Times New Roman"; font-size: 10pt; so-language: nl-NL }
		p.ctl { font-family: "Times New Roman"; font-size: 10pt; so-language: ar-SA }
	</style>

<body lang="nl-NL" text="#00000a" link="#0000ff" dir="ltr">
<p class="western" align="center" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="4" style="font-size: 14pt"><span lang="en-GB"><b>End
User License Agreement</b></span></font></font></p>
<p class="western" align="center" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="4" style="font-size: 14pt"><span lang="en-GB"><b>Tulip
trading bot</b></span></font></font></p>
<p lang="en-GB" class="western" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p lang="en-GB" class="western" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB"><b>License
scope</b></span></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">Tulip
HFT hereby grants to the rightful acquirer (&quot;you&quot;) of Tulip
trading bot (“the Software”) a right to use this Software. </span></font></font>
</p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">This
license is personal. The Software may be installed on an unlimited
number of computers, but only an authorized user (or the authorized
number of users) may actually use the Software. This license is
subject to the terms of this agreement.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">It
is expressly forbidden to:</span></font></font></p>
<ul>
	<li/>
<p align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
	<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">reverse
	engineer the source code of the Software or to decompile the
	Software, except to the extent permitted by mandatory law;</span></font></font></p>
	<li/>
<p align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
	<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">provide
	copies of the Software to third parties;</span></font></font></p>
	<li/>
<p align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
	<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">sublicense
	the Software or otherwise make available the Software to third
	parties, including by rental, Software-as-a-Service models or
	otherwise;</span></font></font></p>
	<li/>
<p align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
	<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">modify
	the Software, except to the extent permitted by mandatory law;</span></font></font></p>
	<li/>
<p align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
	<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">remove
	indications of Tulip HFT as copyright holder of the Software or to
	remove or render illegible any part thereof. </span></font></font>
	</p>
</ul>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">You
may make a backup copy of the Software. This backup copy may not be
used or traded or distributed in any way, except in conjunction with
the original Software.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB"><b>Intellectual
property</b></span></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">All
right, title and interest to the Software, the accompanying
documentation and all modifications and extensions thereto rest and
remain with Tulip HFT. You only have the rights and permissions
explicitly granted to you by this agreement or granted in writing
otherwise. You may not use, copy, distribute or publish the Software
in any other manner.</span></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB"><b>Consideration</b></span></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">You
are solely responsible for installation and usage of the Software.
The documentation will provide recommended requirements for the
hardware and Software environment.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">The
usage right is subject to payment of a one-time license fee, due when
the Software activation key is being ordered. Within 6 months after
the payment of the one-time license fee, you have the right to
install updates of the Software without additional costs. After these
6 months, you have the right to install updates of the Software after
paying the service costs as specified in the section “Updates”.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">In
case you order the Software via the website, Tulip HFT will register
certain of your personal data. In addition to the data requested in
the registration form the IP-address from which the registration is
undertaken is recorded, as well as information regarding the Software
</span></font></font>
</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">In
case you order the Software via email, Tulip HFT will register the
requested personal data only.</span></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0"><a name="_GoBack"></a>
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">This
personal data is only used for the execution of the license agreement
and related purposes such as the making of related offers or
notifications of available updates. </span></font></font>
</p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">Personal
data will be deleted when it is no longer necessary for execution of
this agreement, unless applicable law demands that the data is
retained for a longer period. Consult the privacy policy of Tulip HFT
referred to during registration</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">Use
of the Software additionally requires activation. After payment of
the one-time license fee, you will receive an activation key at the
given email address. Activation takes place during installation and
after entering a valid activation key.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">To
complete activation the Software performs an activation protocol via
the internet with a server. Therefore a stable internet connection is
required.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">For
14 days after the activation of the Software, you have the right to
terminate this agreement and to request a refund without any reason.
The request can be made by contacting Tulip HFT by email. Refunds
will be made within 14 days after the request and only in the
currency in which you paid the one-time fee.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB"><b>Updates</b></span></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">Tulip
HFT from time to time releases updates that address bugs or improve
the functioning of the Software.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">To
learn about the latest updates, consult the website of Tulip HFT. No
liability is accepted for any damage caused by bugs addressed in an
update not installed by you. Tulip HFT may also inform you about the
latest updates by email.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">An
update may provide terms additional to the terms of this agreement.
You will be informed in advance if this is the case and you will have
an opportunity to refuse that update. By installing such an update
you accept the additional terms, which then become part of this
agreement.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">Updates
may be installed at no additional costs only in the first 6 months
after payment of the one-time license fee.
After the first 6 months, you may install updates for a limited
period of time after the payment of the subscription fee. The
subscription fee will be specified on the website of Tulip HFT.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB"><b>Support</b></span></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">For
a period of 6 months after the payment of the one-time fee, Tulip HFT
shall provide you with a reasonable level of support through its
website and/or e-mail (or other communication channels announced to
you). Tulip HFT however does not guarantee that all requests for
support or bug reports are taken into consideration.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB"><b>Guarantees
and liability</b></span></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">Tulip
HFT guarantees that the carrier on which the Software is supplied,
shall function in accordance with expectations for a period of 90
days after receipt (and will replace the carrier free of charge if
not); that the Software substantially operates as described in the
documentation; that the Software contains no viruses, backdoors or
malicious routines; that the Software violates no third-party rights
(such as copyrights), excluding any violations arising out of a
particular use of the Software; but nothing else.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">Except
in cases of intentional misconduct or gross negligence or the
violation of a warranty granted above Tulip HFT is not liable towards
you, regardless of ground, for any damages in connection with the
Software.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">No
liability exists in case damages were not reported timely after
discovery to Tulip HFT. In addition no liability exists if the cause
of damage is beyond the control of Tulip HFT.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB"><b>Term
of the agreement</b></span></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">This
agreement enters into force when you start use of the Software and
remains in force until terminated.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">The
agreement may be terminated by both you and Tulip HFT at any time by
providing one month's notice. Tulip HFT has the right to terminate
this agreement without providing notice:</span></font></font></p>
<ul>
	<li/>
<p align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
	<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">in
	case the license or activation key is sent, announced or published
	to others; or</span></font></font></p>
	<li/>
<p align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
	<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">in
	case you fail to meet the obligations under this agreement;</span></font></font></p>
</ul>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">This
agreement terminates automatically and immediately in case you enter
into bankruptcy, apply for a suspension of payments, your assets are
seized, you pass away, or in case you enter into liquidation, legal
dissolution or winding-up.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">After
termination of the agreement (regardless of reason) you must cease
all use of the Software. In addition you must remove all copies
(including backup copies) the Software from all computer systems
under your control. After termination Tulip HFT has the right to
deactivate the activation key.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB"><b>Miscellaneous
terms</b></span></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">Dutch
law applies to this end-user license agreement.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">Unless
dictated otherwise by mandatory law, all disputes arising in
connection with this agreement shall be brought before the competent
Dutch court for the principal place of business of Tulip HFT.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">A
finding that any particular provision of this agreement is legally
void shall not affect the validity of the entire agreement. In such a
case the parties shall determine a replacement provision that is
legally valid and approximates the intent of the offending provision
as much as possible.</span></font></font></p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">Tulip
HFT may assign its rights and obligations under this agreement to a
third party that acquires the relevant business or the copyrights to
the Software from her. </span></font></font>
</p>
<p lang="en-GB" class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-GB">You
are permitted to assign the Software and your rights and obligations
under this agreement to a third party, provided you inform Tulip HFT
in writing of the assignment and delete all copies of the Software in
your possession. The assignee must commit towards Tulip HFT to the
terms of this agreement.</span></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 115%; widows: 0; orphans: 0">
<br/>

</p>