   <!-- Navigation -->
        <section id="termsnav">
        <div class="container"  >
            <!-- Brand and toggle get grouped for better mobile display -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class=" navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="page-scroll">
                        <a href="{{site.baseurl}}/terms">Terms</a>
                    </li>
                    <li class="hidden
                        <a href="{{ site.baseurl }}/terms/privacy">Privacy</a>
                    </li>
                    <li class="page-scroll">
                    </li>
                </ul>
            </div>
        </div>
        </section>
