<section id="Product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Tulip-HFT is a piece of software that is built to automatically trade cryptocurrency on various exchanges. The software exists out of a trading bot (a command line application) with a configuration file that can be created and managed, easily and modified with our GUI. For instance, the lightweight bot can be run on your headless Linux server while you'll manage it from your desktop. This ensures perfect isolation, ease of use and performance.
                </div>
            </div>
            <div class="row">
	      <div class="col-sm-4 portfolio-item">
		<div class="caption">
		  <div class="caption-content">
		    <i class="fa fa-wrench fa-3x"></i>
                    <h3>Low maintenance</h3>
                     The software only needs a one time configuration from which it can be run completely headless (no user interface needed). Profit can be monitored with external opensource tools.        
                   </div>
		</div>
               </div>
               <div class="col-sm-4 portfolio-item">
		<div class="caption">
                    <div class="caption-content">
			<i class="fa fa-flask fa-3x"></i>
			<h3>Our own technology</h3>
			Our algorithms are completely custom built and are improved every release.
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 portfolio-item">
		    <div class="caption">
		      <div class="caption-content">
			  <i class="fa fa-money fa-3x"></i>
			  <h3>Proven to work</h3>
			  We have been developing and testing our own algorithms for over a year with good results. In 2014 we started with 1 BTC and grew to over 40 at the end of the year (supportive data is available on request).	      
		      </div>
		    </div>
		</div>
		<div class="col-sm-4 portfolio-item">
		    <div class="caption">
		      <div class="caption-content">
			  <i class="fa fa-ban fa-3x"></i>
			  <h3>No nonsense</h3>
			  Our user interface is simple and does not have 20 sliders and check boxes that need constant babysitting.    
		      </div>
		    </div>
		</div>
		<div class="col-sm-4 portfolio-item">
		    <div class="caption">
		      <div class="caption-content">
			  <i class="fa fa-lock fa-3x"></i>
			  <h3>Secure</h3>
			  We do not use or send your API keys to our servers.    
		      </div>
		    </div>
		</div>
		<div class="col-sm-4 portfolio-item">
		  <div class="caption">
		    <div class="caption-content">
			<i class="fa fa-exchange fa-3x"></i>
			<h3>Supported exchanges</h3>
			BTCChina, BTCE, Bter, CEX.IO, Hitbtc, ItBit, Kraken
			<div>
			    Support for almost all combinations of currencies and cryptocurrencies except for CEX.
			</div>
		    </div>
		  </div>
		</div>
		
		<div class="col-sm-4 portfolio-item">
		    <div class="caption">
			<div class="caption-content">
			    <i class="fa fa-user-md fa-3x"></i>

			    <h3>Supported platforms</h3>
			    <ul>
				<li><i class="fa fa-windows"></i> Windows</li>
				<li><i class="fa fa-linux"></i> Linux (Debian, Ubuntu)</li>
				<li>Raspberry Pi upon request</li>
			    </ul>
			</div>
		    </div>
		</div> 
	  </div>
	</div>
    </div>
</section>

