<section id="Product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Tulip-HFT is a piece of software that is build to automatically trade cryptocurrency on various exchanges. The software exists out of a The trading bot a command line application with a configuration file that can be easily created and modified with our GUI. The bot and GUI are separate programs and can be run on different systems. For example run the bot on Linux and use the GUI on Windows.
                </div>
            </div>
            <div class="row">
	      <div class="col-sm-4 portfolio-item">
		<div class="caption">
		  <div class="caption-content">
		    <i class="fa fa-wrench fa-3x"></i>
                    <h3>Low maintenance</h3>
                     The software only needs a one time configuration from which on it can be run completely headless (no user interface needed). Profit can be monitored with external opensource tools.        
                   </div>
		</div>
               </div>
               <div class="col-sm-4 portfolio-item">
		<div class="caption">
                    <div class="caption-content">
			<i class="fa fa-flask fa-3x"></i>
			<h3>Our own technology</h3>
			Our algorithms are completely custom and are improved every release.
		    </div>
		  </div>
		</div>
		<div class="col-sm-4 portfolio-item">
		    <div class="caption">
		      <div class="caption-content">
			  <i class="fa fa-money fa-3x"></i>
			  <h3>Proven to work</h3>
			  We have been developing and testing our own algorithms for over a year with good results. In 2014 we went from 1 BTC to over 40 for which supportive data is available.	      
		      </div>
		    </div>
		</div>
		<div class="col-sm-4 portfolio-item">
		    <div class="caption">
		      <div class="caption-content">
			  <i class="fa fa-ban fa-3x"></i>
			  <h3>No nonsense</h3>
			  Our user interface is simple and does not have 20 sliders and check boxes that need constant babysitting.    
		      </div>
		    </div>
		</div>
		<div class="col-sm-4 portfolio-item">
		    <div class="caption">
		      <div class="caption-content">
			  <i class="fa fa-lock fa-3x"></i>
			  <h3>Secure</h3>
			  We do not use or send your API keys to our servers.    
		      </div>
		    </div>
		</div>
		<div class="col-sm-4 portfolio-item">
		  <div class="caption">
		    <div class="caption-content">
			<i class="fa fa-exchange fa-3x"></i>
			<h3>Supported exchanges</h3>
			BTCChina, BTCE, Bter, CEX.IO, Hitbtc, ItBit, Kraken
			<div>
			    Support for almost all combinations of currencies and cryptocurrencies (only on CEX we do not).
			</div>
		    </div>
		  </div>
		</div>
		
		<div class="col-sm-4 portfolio-item">
		    <div class="caption">
			<div class="caption-content">
			    <i class="fa fa-user-md fa-3x"></i>

			    <h3>Supported platforms</h3>
			    <ul>
				<li><i class="fa fa-windows"></i> Windows</li>
				<li><i class="fa fa-linux"></i> Linux (Debian, Ubuntu, CentOS upon request)</li>
				<li><i class="fa fa-apple"></i> OS X support not planned</li>
				<li>Raspberry Pi upon request</li>
			    </ul>
			</div>
		    </div>
		</div> 
	  </div>
	</div>
    </div>
</section>

