<section id="halt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Discontinued sales of trading software.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                Tulip-HFT has discontinued the sales of trading software
                Over the years that we have sold the product we have gotten more traction than we have thought.
                Our clients have been getting value for money and we now have gained enough capital to continue our business in private.
                We might come back some day and support other traders to improve their strategies but we are no longer selling our own.
            </div>
        </div>
    </div>
    </div>
</section>