<section id="start">
  <div class="container">
      <div class="row">
	  <div class="col-lg-12">
	      <h2>How we started</h2>
	  </div>
      </div>
      <div class="row">
	  <div class="col-lg-12">
	      <p>
	      In 2013, Stefan wanted to try out Bitcoin mining and ordered a graphics card to do so. 
	      While waiting for his card, Stefan developed a script to trade on Cryptsy which was working so well, that when the card came in it was barely breaking even but the script already made 1 BTC in a few weeks. 
	      At this point, Stefan felt this script was worth improving and got into contact with Jasper. From that moment on we, started to develop an optimized program written in C++ instead of a Python script. 
	      This was very successful - we passed the 20 BTC mark in late April. 
	      In May, however, we saw a decline in our profits, so we started to develop a new algorithm and revamped the whole software structure. 
	      After a lot of work this started to pay off and the profits started to go up again.</p>

	      <p>
	      We have discussed several times whether or not to start selling our software. In October 2014, we finally decided to sell, 
	      but we both agreed that we had to do something about the user experience. 
	      At that point the program was still running from a config file, which had attained an increasingly complex structure. 
	      To solve this we started to develop a GUI which would generate the config file automatically. 
	      About 2 months later we put our GUI to the test and asked some of our friends if they wanted to try our program. 
	      This led to long sessions of feedback on how to improve our software. 
	      </p>

		  <p>
			  After some debate we decided to halt the sales of our trading software in march 2017. <br />
			  When we started with our sales in 2014 we had a hard time pricing our tool. We knew it was performing well but it all depends on the markets and the available amount to trade with.
			  We could/did not want to create a commission based model because the only way to do this was by managing customers funds.
			  That was something we were trying to avoid because it is contradictory to the cryptocurrency ethos of decentralization but also would expose us to a lot of risk and trouble from regulators.
			  This is the reason why we settled for a fixed fee subscription because at the time it seemed to be the best option.
			  This has given our customers value for their money we noticed that on markets our customers weren't active on we gained more profit.
			  Upfront we did not think it would be such a big issue because the amount with what we traded was relatively limited.
			  However over the years our impact in the market had increased thanks to our customers but most importantly our trades.
			  So we decided we gained enough capital to continue our business in private and no longer accept new clients.
		  </p>
	  </div>
      </div>
  </div>
</section>
