<section class="success" id="start">
  <div class="container">
      <div class="row">
	  <div class="col-lg-12">
	      <h2>How we started</h2>
	  </div>
      </div>
      <div class="row">
	  <div class="col-lg-12">
	      <p>In 2013 Stefan wanted to try out Bitcoin mining and ordered a graphics card to do so. While waiting for his card Stefan developed a script to trade on Cryptsy which was working so well, that when the card came in it was barely breaking even but the script already made 1 BTC in a few weeks. At this point Stefan felt this was worth improving and got into contact with Jasper and from that moment on we started to develop an optimized program written in C++ instead of a Python script. This became very successful as we passed the 20 BTC mark in late April. In May however we saw a decline in our profits, so we started to develop a new algorithm and revamped the whole software structure. After a lot of work this started to pay off and the profits started to go up again.</p>

	      <p>We have discussed several times whether or not to start selling our software but in October 2014 we finally decided to sell, but we both agreed on the fact that we had to do something about the user experience. At that point the program was still running from a config file which had gotten an increasingly complex structure. To solve this we started to develop a GUI which would generate the config file automatically. About 2 months later we put our GUI to the test and asked some of our friends if they wanted to try our program. This led to long sessions of feedback on how to improve our software. This process is still ongoing and most likely will never end because their always is something to improve or a new feature to add!</p>
	  </div>
      </div>
  </div>
</section>