 <!-- About Section -->
    <section  class="success"  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Is for you?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 ">
                    <p>This is for you if: </p> 
                    <ul>
		      <li>you have too many bitcoins or other cryptocurrencies on the shelf.</li>
		      <li>you are into cryptocurrencies for the long run</li>
		      <li>you understand the risks of cryptocurrencies and exchanges.</li>
		    </ul>
                </div>
              
            </div>
        </div>
    </section>
