    <!-- Header -->
    <section class="success"  id="team">
        <div class="container">
           <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Team</h2>
                </div>
            </div>
 
            <div class="row">
                <div class="col-lg-12">
                
<h2>Stefan Dessens</h2>

      <h3>Code Magician</h3>
      <p>
      Stefan has a Bachelor degree in Computer Science. 
      He started programming on a graphics calculator in Assembly, because BASIC was too slow.
      Always working on complex software such as graphics engines, physics simulations, programming contests such as Kaggle and recently Churchil Challenge (3rd). 
      He also created the initial Cryptsy trading script, which was the foundation for this company.
      </p>
      <h2>Jasper van Gelder</h2>

      <h3>Business Magician</h3>
      <p>
      Jasper has a passion for bringing IT technology into business. With a current degree in Computer Science, he is currently doing his Master ICT in Business at Leiden University. 
      During his employment in several high tech innovative IT companies, he saw a growing need of filling the gap between business problems and IT solutions.
      </p>

                </div>
            </div>
        </div>
    </section>
