    <!-- Header -->
    <section id="team">
        <div class="container">
           <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Team</h2>
                </div>
            </div>
 
            <div class="row">
                <div class="col-lg-12">
                
<h2>Stefan Dessens</h2>

      <h3>Code Magician</h3>
      <p>Stefan has bachelor degree in Computer Science. He started programming on a graphics calculator in assembly, because BASIC was too slow. Always working on complex software such as graphics engines, physics simulations, programming contests such as kaggle(6th) and recently churchil callenge (3rd). He also created the initial Cryptsy trading script on which was the foundation for this company.</p>
      <h2>Jasper van Gelder</h2>

      <h3>Business Magician</h3>
      <p>Jasper has a bachelor in Computer science and is currently working on his ICT in business Master at the Leiden University. He is a techie with a feeling and know how of both programming and business. After being employed by several IT companies he saw a need to fill the gap between business and IT.</p>

                </div>
            </div>
        </div>
    </section>
