section.blog.p {
        font-size: 100%;
        line-height: 1.5;
        font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    }
}
section.blog.h1 {
    font-size: 100%;
}
section.blog.h2 {
    font-size: 100%;
}
section.blog.h3 {
    font-size: 100%;
}