<!-- EMA config-->
<fieldset class="form-group">
    <label class="control-label col-sm-2">Target market: </label>

    <div class="col-sm-10">
        <select id="target_market" name="targetMarket" ng-model="bot.targetmarket"
                ng-options="m as m for m in Markets" tooltip-html="targetTooltip" required>
            <option value="" selected>Select the market you want to trade on</option>
        </select>
    </div>
</fieldset>
<fieldset class="form-group">
    <label class="control-label col-sm-2">Margin: </label>

    <div class="col-sm-10">
        <input type="percent" name='margin' ng-model="bot.margin" min="0" max="6" ui-percentage-mask="2"
               placeholder="The margin" class="form-control" ng-minlength="1" tooltip-html="marginTooltip" required/>
    </div>
</fieldset>
<fieldset class="form-group">
    <label class="control-label col-sm-2">Minimum order size: </label>

    <div class="col-sm-10">
        <input type="number" min="0" name='min' step="any" ng-model="bot.min_order_size" tooltip-html="minTooltip"
               placeholder="Minimum size" class="form-control" required/>
    </div>
</fieldset>
<fieldset class="form-group">
    <label class="control-label col-sm-2">Maximum order size: : </label>

    <div class="col-sm-10">
        <input type="number" min="0" name='max' step="any" ng-model="bot.max_order_size" tooltip-html="maxTooltip"
               placeholder="Maximum size" class="form-control" required/>
    </div>
</fieldset>
<fieldset class="form-group">
    <label class="control-label col-sm-2">Long: </label>

    <div class="col-sm-10">
        <input type="number" min="0" name='long' ng-model="bot.long" tooltip-html="longTooltip"
               placeholder="Long value" class="form-control" required/>
    </div>
</fieldset>
<div class="container-fluid" tooltip-html="inputTooltip">
    <div class="row" style="font-weight: bold;   border-spacing: 2px; border-bottom: 1px solid grey">
        <div class="col-xs-4">Exchange</div>
        <div class="col-xs-4">Market</div>
        <div class="col-xs-1">Flip</div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row" ng-repeat="input in bot.watchers track by $index" style="border-spacing: 2px;">
        <div class="col-xs-4">
            <select ng-model="input.name" ng-change="changeExchangeWatcher(input,$index)"
                    ng-options="e.name as e.name for e in Exchanges">
                <option value="">Watch exchange...</option>
            </select>
        </div>
        <div class="col-xs-4">
            <select ng-model="input.market"
                    ng-options="m as m for m in watcherMarket[$index]">
                <option value="">Watch market...</option>
            </select>
        </div>
        <div class="col-xs-1"><input type="checkbox" ng-model="input.flip"></div>
        <div class="col-xs-1">
            <button class="btn btn-sm btn-danger" ng-click="removeInput($index)"><i
                    class="glyphicon glyphicon-remove">
            </i></button>
        </div>
    </div>
    <div class="row" style="border-spacing: 2px;">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1">
            <button ng-click="addNewInput()"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
    </div>

</div>
<!--<table st-table="rowCollection" class="table table-striped" tooltip-html="inputTooltip">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Exchange</th>-->
<!--<th>Market</th>-->
<!--<th>Flip</th>-->
<!--<th></th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="input in bot.watchers track by $index">-->
<!--<td><select ng-model="input.name" ng-change="changeExchangeWatcher(input,$index)"-->
<!--ng-options="e.name as e.name for e in Exchanges">-->
<!--<option value="">Select exchange to watch</option>-->
<!--</select></td>-->
<!--<td><select ng-model="input.market"-->
<!--ng-options="m as m for m in watcherMarket[$index]">-->
<!--<option value="">Select market to watch</option>-->
<!--</select></td>-->
<!--<td><input type="checkbox" ng-model="input.flip"></td>-->
<!--<td>-->
<!--<button class="btn btn-sm btn-danger" ng-click="removeInput()"><i-->
<!--class="glyphicon glyphicon-remove">-->
<!--</i></button>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td></td>-->
<!--<td></td>-->
<!--<td></td>-->
<!--<td>-->
<!--<button ng-click="addNewInput()"><i class="glyphicon glyphicon-plus"></i></button>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
